{% extends 'base.html'%}
{% block title %}
    Search
{% endblock %}

{% block content_title %}
        <h1 class="text-center">Search</h1>
{% endblock %}

{% block content %}
<div class="row ">
{% for post in blogPage %}
<div class="col-4 mt-3 ">
   
        <div class="card">
            <img src="/static/images/{{post.image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content[:180:] }} ... </p>
                {% if session['logged_in'] %}
                    {% if session['user']['id'] == post.user_id %}
                        <form method="POST" action="{{ url_for('links_blog.delete') }}" >
                            <button type="submit" class="btn btn-outline-danger float-right ml-1" ><i class="fas fa-trash-alt"></i></button>
                            <input type="hidden" name="id" value="{{ post.id }}">
                        </form>
                        <a href="{{ url_for('links_blog.edit',id=post.id) }}" class="btn btn-outline-info float-right ml-1"><i class="fas fa-edit"></i></a>
                    {% endif %}    
                {% endif %}
                <form method="GET" action="{{ url_for('links_blog.singlePage',id=post.id) }}">
                    <button type="submit" class="btn btn-outline-primary float-right"><i class="fas fa-eye" ></i></button>  
                </form>
                <p class= "text-danger text-left"> Published by
                <div><i class="fas fa-user"></i> {{ post.user.username }}</div>
                </p>

            </div>
        </div>
        
    </div>

{%endfor%}
</div>
{% endblock %}
   